/* ==========================================================================
	@_base.scss
	This file is used to contain all base imports.
    Files inside this folder can contain global styles used in the project.
============================================================================= */

.edit-link {
	position: fixed;
	bottom: 10px;
	right: 10px;
	height: 50px;
	width: 50px;
	a {
		position: relative;
		height: 100%;
		width: 100%;
		border-radius: 100%;
		display: inline-block;
		&::after {
			background: linear-gradient(53deg, #572285 0%, #9214ff 100%);
			border-radius: 100%;
			position: absolute;
			content: url("../../image/edit-page.svg");
			height: 100%;
			width: 100%;
			display: block;
			padding: 10px;
			top: 0;
			left: 0;
		}
	}
}

body {
	main {
		flex: 1;
		width: 100%;
		padding: 0px 30px;
		max-width: 1100px;
		margin: 30px auto 120px auto;
	}
	&.home {
		main {
			padding: unset;
			margin: unset;
			max-width: unset;
		}
	}
	&.blog {
		main {
			margin: 60px auto 120px auto;
		}
	}
}

section {
	.wrapper {
		max-width: 1100px;
		padding: 0px 30px;
		margin-block-start: 50px;
		margin-block-end: 120px;
		margin-left: auto;
		margin-right: auto;

		& > h2 {
			color: var(--wp--preset--color--neutral-dark);
			text-transform: uppercase;
			margin-block-start: 0;
			margin-block-end: 10px;
		}

		& > h3 {
			color: var(--wp--preset--color--dark);

			margin-block-start: 10px;
			margin-block-end: 30px;
		}
	}
}

body.error404 {
	img {
		width: 100%;
		height: auto;
		margin-block-end: 10px;
	}
}

.data-scroll-container,
.data-scroll {
	will-change: transform;
}
