/* ==========================================================================
	@_font.scss
	This file is used to control The font family selection in (X)HTML, CSS, 
	and derived systems specifies a list of prioritized fonts and generic family names
============================================================================= */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

// Initialize Font
// ------------------------
html * {
	font-family: "Inter", sans-serif;
	line-height: 1.618;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.1;
	}
}
